<div class="col">
    <label>Name:
        <input class="form-control" [(ngModel)]="selected.name" placeholder="Name">
    </label>
</div>

<div class="col">
    <label>Price:
        <input class="form-control" [(ngModel)]="selected.price" placeholder="Price">
    </label>
</div>

<div class="col">
    <label>Productor:
        <input class="form-control" [(ngModel)]="selected.productor" placeholder="Productor">
    </label>
</div>

<div class="col">
    <label>Stock Quantity:
        <input class="form-control" [(ngModel)]="selected.stock_quantity" placeholder="Stock Quantity">
    </label>
</div>

<div class="col">
    <label>WareHouse:
        <input class="form-control" [(ngModel)]="selected.warehouse" placeholder="Warehouse">
    </label>
</div>